/******* header *******/
header {
  height: 55px;
  background-color: #eee;
}

.Menu {
  height: 55px;
  display: flex;
}

.Menu-branch {
  display: flex;
  background-color: #e11b1e;
  max-height: 100%;
  align-items: center;
  padding-right: 10px;
  flex-grow: 1;
}

.Menu-branch__logo {
  width: 55px;
}

.Menu-branch__logo img {
  object-fit: cover;
}

.Menu-branch-search {
  align-items: center;
  border-radius: 3px;
  background-color: white;
  display: flex;
  height: 35px;
  justify-content: center;
  overflow: hidden;
  flex-grow: 1;
}

.Menu-branch-search-loaction {
  align-items: center;
  display: flex;
  background-color: rgb(231, 228, 228);
  height: 100%;
  width: 100px;
  justify-content: center;
  font-size: 13px;
  cursor: pointer;
}

.Menu-branch-search-loaction:hover {
  background-color: #ccc;
}

.Menu-branch-search-loaction__txt {
  position: relative;
  margin-right: 5px;
}

.Menu-branch-search-loaction__txt::after {
  content: "";
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: #666 transparent transparent transparent;
  width: 0;
  height: 0;
  position: absolute;
  top: 6px;
}

.Menu-branch-search-loaction-select {
  position: absolute;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
  top: 50px;
  width: 110px;
  overflow: hidden;
  display: none;
  z-index: 1;
}

.Menu-branch-search-loaction--active .Menu-branch-search-loaction-select {
  display: block;
}

.Menu-branch-search-loaction-select p {
  padding: 5px 10px;
  cursor: pointer;
}

.Menu-branch-search-loaction-select p:hover {
  background-color: rgb(231, 228, 228);
}

.Menu-branch-search-loaction-select i {
  padding-right: 2px;
}

.Menu-branch-search-input {
  flex-grow: 1;
  height: 100%;
}

.Menu-branch-search-input input {
  width: 100%;
  height: 100%;
  padding: 0 5px;
}

.Menu-branch-search-btn {
  align-items: center;
  display: flex;
  justify-items: center;
  width: 25px;
  height: 100%;
  font-size: 13px;
  cursor: pointer;
}

.Menu-list {
  display: flex;
}

.Menu-list-item {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}

.Menu-list-item-content {
  height: 100%;
  padding: 0 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Menu-list-item-content:hover {
  background-color: #e11b1e;
  color: #fff;
  cursor: pointer;
}

.Menu-list-item-content__txt {
  font-size: 12px;
  margin-top: 3px;
  text-transform: uppercase;
}

.Menu-list-item-sub {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, 100%);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: none;
}

.Menu-list-item-sub-list {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
}

.Menu-list-item-sub-list-item {
  width: 50%;
  padding: 5px 10px;
  text-align: left;
}

.Menu-list-item-sub-list-item__txt {
  white-space: nowrap;
}

.Menu-list-item-sub-list-item__txt:hover {
  color: #e11b1e;
  text-decoration: underline;
}

.Menu-list-item:hover .Menu-list-item-sub {
  display: block;
}

/***************** Nav SP **********************/
.Nav {
  display: flex;
  position: fixed;
  width: 100%;
  flex-direction: column;
  transition: all ease-in-out 0.3s;
  height: 50px;
  overflow: hidden;
  z-index: 1;
}

.Nav--active {
  height: 100%;
}

.Nav-content {
  background-color: #3c3d41;
  width: 100%;
  height: 50px;
  display: flex;
}

.Nav__logo {
  width: 50px;
  height: 50px;
  padding: 7px;
}

.Nav-search {
  flex-grow: 1;
  padding: 7px;
}

.Nav-search-content {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 3px;
  background: #fff;
}

.Nav-search__input {
  /* width: 125px; */
  height: 100%;
  flex-grow: 1;
}

.Nav-search__input input {
  width: 100%;
  height: 100%;
  padding: 0 5px;
  font-size: 16px;
}

.Nav-search__btn {
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #e03a2c;
  color: #fff;
}

.Nav-hamburger {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Nav-hamburger-content {
  position: relative;
  height: 20px;
  width: 30px;
  overflow: hidden;
}

.Nav-hamburger-content__ico {
  background-color: #fff;
  position: absolute;
  height: 2px;
  width: 100%;
  top: 0;
  right: 0;
  transition: all ease-in-out 0.25s;
}

.Nav-hamburger-content__ico:nth-child(2) {
  top: 8px;
}

.Nav-hamburger-content__ico:nth-child(3) {
  top: 16px;
}

.Nav--active .Nav-hamburger-content__ico:first-child {
  right: -60px;
  transform: rotate(-135deg);
  opacity: 0;
}

.Nav--active .Nav-hamburger-content__ico:nth-child(2) {
  top: 8px;
  transform: rotate(-135deg);
}

.Nav--active .Nav-hamburger-content__ico:nth-child(3) {
  top: 8px;
  transform: rotate(135deg);
}

.Nav-menu {
  width: 100%;
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 0.3s;
}

.Nav-menu-content {
  background-color: #fff;
}

.Nav-menu-content-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 5px;
}

.Nav-menu-content-list-item {
  width: 24%;
  text-align: center;
}

.Nav-menu-content-list-item {
  margin: 3px 0.5%;
  background: #fff;
  border: 1px solid;
  border-radius: 3px;
  padding: 5px 0;
  font-size: 12px;
}

.Nav-menu-content-footer {
  display: flex;
  height: 40px;
  background-color: #f1f1f1;
  border-top: 1px solid #3c3d41;
}

.Nav-menu-content-footer-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.Nav-menu-content-footer-contact img {
  width: 30px;
  height: 30px;
}

.Nav-menu-content-footer-contact a {
  font-size: 18px;
  color: #e41e21;
  font-weight: bold;
  margin-left: 5px;
}

.Nav-menu-content-footer-location {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #ddd;
  padding: 0 5px;
}

.Nav-menu-content-footer-location select {
  margin-left: 5px;
  border: 1px solid #999;
  border-radius: 3px;
}

@media screen and (max-width: 425px) {
  .Nav-menu-content-list-item {
    width: 32.33%;
    text-align: center;
    font-size: 13px;
  }
}

@media screen and (max-width: 320px) {
  .Nav-menu-content-list-item {
    width: 48%;
    text-align: center;
    font-size: 14px;
  }
  .Nav-menu-content-footer-contact a {
    font-size: 16px;
  }
  .Nav-menu-content-footer-location {
    font-size: 14px;
  }
}

/***************** Banner **********************/

.Banner {
  display: flex;
  margin-top: 8px;
}

.Carousel {
  flex: 0 0 68%;
}

/* .Carousel-content {
  background: #e41e21;
} */

.Carousel-nav {
  display: flex;
  min-height: 50px;
  border: 1px solid #ddd;
}

.Carousel-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-right: 1px solid #ddd;
  cursor: pointer;
  font-size: 14px;
}

.Carousel-nav-item:last-child {
  border-right: none;
}

.Banner-content {
  flex-grow: 1;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.Banner-content__item {
  width: 100%;
  height: 100%;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Banner-content__item:last-child {
  margin-bottom: 0px;
}

@media screen and (max-width: 1024px) {
  .Banner {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .Carousel {
    flex: 0 0 auto;
    width: 100%;
  }

  .Banner-content {
    display: flex;
    flex-direction: row;
  }
}

/************* Carousel ******************/

.Carousel-content {
  overflow: hidden;
  position: relative;
}

.Carousel-content-list {
  display: flex;
  position: relative;
}

.Carousel-content-item {
  min-width: 100%;
}

.Carousel-content__btn {
  position: absolute;
  top: 50%;
  padding: 0 10px;
  font-size: 40px;
  transform: translateY(-50%);
  color: #ddd;
  /* background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.Carousel-content__btn--right {
  right: 0;
  /* background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
}

.Carousel-nav-item--active .Carousel-nav-item__txt {
  color: #fff;
}

.Carousel-nav-item--active {
  background-color: #e11b1e;
}

.Carousel-nav-item:hover {
  background-color: #ddd;
}

.Carousel-nav-item--active:hover {
  background-color: #e11b1e;
}

@media screen and (max-width: 1024px) {
  .Carousel-nav {
    min-height: 30px;
    margin: -40px auto 10px;
    position: relative;
    border: none;
    border-radius: 15px;
    background-color: #3c3d41;
    width: 30%;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
  }

  .Carousel-nav-item {
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background-color: #999;
    margin-left: 5px;
  }

  .Carousel-nav-item:first-child {
    margin-left: 0;
  }

  .Carousel-nav-item:hover,
  .Carousel-nav-item--active,
  .Carousel-nav-item--active:hover {
    background-color: #fff;
  }
}
